extends layout

block content
    .container-fluid
        h1 RNA-Seq Analyses in Non-Model Organisms
        h3.
          <b>BNBio: Nicolas Delhomme and Bastian Schiffthaler</b>, and Brian Haas* and Charlotte Soneson*
        h3 Venue: Physalia Courses, Online, November 22nd-26th, 2021
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/materials") View or download materials
        hr
        p.lead.
            Note:
        ul
            //li
            //    b The AWS server is disabled, but the FTP accessible from
            //    a(href="http://www.ebi.ac.uk/training/events/2016/advanced-rna-seq-and-chip-seq-data-analysis-2016")  the course website
            //    b  has instructions on how to retrieve the course material and set it up on AWS.
            li The username and password have been communicated to you separately.
        hr
        h3 Connect to your instance
        br
        table.table.table-striped
            thead
                th Name
                th Apache
                th Terminal
                th RStudio
                th SSH
            tbody
                for key,val in userdata
                   tr
                      td=val
                      td 
                        a(href="http://" + key[1] + ":100" + key[0]) Browse your files
                      td 
                        a(href="http://" + key[1] + ":120" + key[0]) Access the Terminal
                      td
                        a(href="http://" + key[1] + ":110" + key[0]) Connect to RStudio
                      td
                        <p> Use ssh -p 90#{key[0]} training@#{key[1]}</p>
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/materials") View or download materials
        hr
