extends layout

block content
    .container-fluid
        h1 RNA-SEQ ANALYSES IN NON-MODEL ORGANISMS
        h3 Physalia Courses, Berlin, November 11th-15th, 2019
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/materials") View or download materials
        hr
        p.lead.
            Note:
        ul
            //li
            //    b The AWS server is disabled, but the FTP accessible from
            //    a(href="http://www.ebi.ac.uk/training/events/2016/advanced-rna-seq-and-chip-seq-data-analysis-2016")  the course website
            //    b  has instructions on how to retrieve the course material and set it up on AWS.
            li The username and password are "training"
            li When connecting to the terminal, accept the default "localhost" and "22"
        hr
        h3 Connect to your instance
        br
        table.table.table-striped
            thead
                th Name
                th Apache
                th Terminal
                th RStudio
                th SSH
            tbody
                for key,val in userdata
                   tr
                      td=val
                      td 
                        a(href="http://" + key[1] + ":100" + key[0]) Browse your files
                      td 
                        a(href="http://" + key[1] + ":110" + key[0] + "/wetty") Access the Terminal
                      td
                        a(href="http://" + key[1] + ":120" + key[0]) Connect to RStudio
                      td
                        <p> Use ssh -p 90#{key[0]} training@#{key[1]}</p>
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/materials") View or download materials
        hr
