extends layout

block content
    .container
        .intro
            h1 High Throughput Sequencing Analyses

            h3.
               Umeå Plant Science Centre Bioinformatics Facility (UPSCb)
               <br/>
               part of the SLU Bioinformatics Infrastructure (SLUBI)
                
            h3 Umeå, Mars 2nd-6th, 2020
            hr
            h3.
                Nicolas Delhomme, Bastian Schiffthaler*, Charlotte Soneson*
            hr
            h4 Important Notes:
            p.lead
                ul
                    li <b>*</b> numerous excellent material contributions, thanks!
                    li PhD students are entitled to <b>2 ECTs</b> for this course. Please let me know.
                    li.
                        <b>R and Rstudio are FREE software, which can be installed on
                        any computer.</b>
                    li.
                        <b>If you are interested in setting it up on your own computer, visit:</b>
                    ul
                        li for R:&nbsp;
                            a(href="https://cran.r-project.org") https://cran.r-project.org
                        li for RStudio:&nbsp;
                            a(href="https://www.rstudio.com") https://www.rstudio.com
                        //li.
                        //    <b>And if you have any issues contact any of us.</b>
            //br
            hr
            p.lead.
                Welcome to the workshop! Click one of the links below:
            // Welcome to the course! Click one of the links below:
                
            ul
                li to discuss workshop related issues, visit the slack channel
                // li to access the schedule and other information, visit the course homepage
            hr
        .buttons
            .well
                //a.btn.btn-lg.btn-default(href="https://www.physalia-courses.org/courses-workshops/course11/") Website (External link)
                //span &nbsp
                a.btn.btn-lg.btn-default(href="https://slubi-pg-hts-2018.slack.com") Forum (Slack channel)
                span &nbsp
            hr
            ul
                //li to connect to your Amazon AWS instance (during hands-on sessions)
                li to connect to your Docker container (during hands-on sessions)
                li to view lecture/practical materials (during lectures and hands-on sessions)
        .buttons
            .well
                a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
                span &nbsp
                a.btn.btn-lg.btn-primary(href="/materials") View or download materials
                span &nbsp
                a.btn.btn-lg.btn-default(href="https://b.socrative.com/login/student/") Take the questions (Socrative classroom)
                span &nbsp
            hr
            p.
                <i>N.B.</i> The participation in both the Slack Channel and the Socrative classroom is <b>VOLUNTARY</b>.
                We believe that these may help you get more out of this workshop, before, during and after the workshop, so feel free (and not pushed) to join.
            p.
                <i>N.B.</i> The Socrative classroom name is <b>UMEA2020</b>.
