extends layout

block content
    .container
        .intro
            h1 Bioinformatics in Umeå Workshop Series
            h2 #1 Introduction to Nextflow
            h3 Hybrid - Umeå University, November 16th and 17th, NAT.D.346 and online
            hr            
            h3.
                Bastian Schiffthaler (Bn Bioinformatics) and Nicolas Delhomme (Umeå Plant Science Centre)
            hr
            h4 Description:
            p.lead.
              This is the fist in a series of workshop that aims to bring to Umeå experts from academia or the industry to deliver high quality workshops. A secondary aspect of these workshops will be to bring the Umeå  bioinformatics crowd together to build a thriving community. 
            p.lead.
               Nextflow is a widely adopted workflow system for running high-throughput, data-intensive applications across cloud and on-premise infrastructure. It has quickly become one of the primary technology platforms for computational workloads in life sciences. Its framework allows scientists to write code in any scripting language, define software dependencies with containers, connect tasks with the event-driven dataflow programming DSL and then deploy anywhere: local machines, grid computing systems or public cloud infrastructure. 
            hr
            h4 Aim:
            p.lead.
              The aim to the workshop is to introduce the Nextflow technology, going from basic through to advanced concepts, to help attendees become proficient in writing their own pipeline or customising existing ones. 
            hr
            h4 Learning objectives:
            .well By the end of the workshop, you should be able to
              ul
                li explain the principles of a Nextflow pipeline
                li detail the structure of a Nextflow pipeline, workflow, processes and channels
                li detail advanced concepts of a Nextflow pipeline, such as executors and modules
                li implement a simple version of an RNA-Seq pipeline
                li analyse existing pipelines with the aim to customise them
            hr
            h4 Prerequisites:
            p.lead
              ul
                li.
                  A working knowledge of the *nux environment and command line is required.
                li.
                  Basic knowledge about programming (any language) is recommended.
                li.
                  Basic knowledge about high-throughput sequencing experiment is recommended.
            hr
            h4 Format:
            p.lead.
              The course will be delivered as a guided hands-on, with minimal lecture material. Most of the time will be spent on following and reproducing a live demonstration.
            hr
            h4 Schedule:
            .well Day 1 - 9:00 - 17:00
              ul
                li 09:00 - 09:30 - Introduction to Nextflow
                li 09:30 - 10:30 - Basic Scripting in Nextflow
                li 10:30 - 10:45 - Coffee break (fika provided)
                li 10:45 - 12:00 - Channels
                li 12:00 - 13:00 - Lunch break
                li 13:00 - 14:00 - Processes
                li 14:00 - 15:00 - Operators
                li 15:00 - 15:15 - Coffee break (fika provided)
                li 15:15 - 16:00 - Executors
                li 16:00 - 16:45 - RNA-Seq pipeline
                li 16:45 - 17:00 - Feedback and Assessment
            .well Day 2 - 9:00 - 17:00
              ul
                li 09:00 - 09:30 - Revision session
                li 09:30 - 10:30 - Configuration
                li 10:30 - 10:45 - Coffee break (fika provided)
                li 10:45 - 12:00 - Pipeline Parameters
                li 12:00 - 13:00 - Lunch break
                li 13:00 - 14:00 - Workflows
                li 14:00 - 15:00 - Modules
                li 15:00 - 15:15 - Coffee break (fika provided)
                li 15:15 - 16:00 - Sharing Pipelines
                li 16:00 - 16:45 - RNA-Seq pipeline part 2
                li 16:45 - 17:00 - Feedback and Assessment
            h4 Tools:
            p.lead.
              You will be expected to bring your own laptop and to have installed Visual Studio Code (see below). No need to install Nextflow unless you want to, as we will use computing resources where that is readily available.
            p.lead
              ul
                li.
                  Visual Studio Code and Nextflow are FREE software, which can be installed on any computer.
                li For Visual Studio Code:&nbsp;
                  a(href="https://code.visualstudio.com/download") https://code.visualstudio.com/download
                li If you are interested in setting up NextFlow on your own computer, visit:&nbsp;
                  a(href="https://www.nextflow.io/docs/latest/getstarted.html") https://www.nextflow.io/docs/latest/getstarted.html
            hr
            h4 Fee:
            p.lead.
              To help cover the costs of the workshop, there is a fee of 2000 kr
            hr
            h4 Registration:
            p.lead.
              The maximum number of participants on site is 20, first come, first serve. The registration will close week 45 (November 10th). Depending on the demand, we might consider making the workshop a hybrid format, allowing attendees to join in Zoom.
            p.lead Register&nbsp;
              a(href="https://forms.gle/huM9JxrYyuzFREyr5") here.
            hr
