extends layout

block content
    .container
        .intro
            h1 Analysis of High Throughput Sequencing RNA-Seq Data
            h3 Online, Sweden, October 23rd-24th; October 30th - November 3rd; (November 9th)
            hr            
            h3.
                Amrei Binzer-Panchal, Nicolas Delhomme, Adnan Niazi, Lizel Potgieter, Abu Bakar Siddique and Bastian Schiffthaler* and Charlotte Soneson*
            hr
            h4 Important Notes:
            p.lead
                ul
                    li <b>*</b> numerous excellent material contributions, thanks!
                    li.
                        <b>R and Rstudio are FREE software, which can be installed on
                        any computer.</b>
                    li.
                        <b>If you are interested in setting it up on your own computer, visit:</b>
                    ul
                        li for R:&nbsp;
                            a(href="https://cran.r-project.org") https://cran.r-project.org
                        li for RStudio:&nbsp;
                            a(href="https://www.posit.co") https://www.posit.co
                        //li.
                        //    <b>And if you have any issues contact any of us.</b>
            //br
            hr
            p.lead.
                Welcome to the workshop! More resources through the links below:
            hr
        .buttons
            .well
                //a.btn.btn-lg.btn-default(href="https://www.physalia-courses.org/courses-workshops/course11/") Physalia Website (External link)
                //span &nbsp
                a.btn.btn-lg.btn-default(href="https://slubi-workspace.slack.com") Forum (Slack channel)
                span &nbsp
                a.btn.btn-lg.btn-default(href="https://docs.google.com/document/d/1CCCprmjvpsk8LkzWUbN_QSiHxdrztFUa6xZvuk3mkT8") Living document (gdoc)
                span &nbsp
                a.btn.btn-lg.btn-default(href="https://svelantbruksuniversitet-my.sharepoint.com/personal/amrei_binzer_panchal_slu_se/_layouts/15/onedrive.aspx?fromShare=true&ga=1&id=%2Fpersonal%2Famrei%5Fbinzer%5Fpanchal%5Fslu%5Fse%2FDocuments%2F2023%5FHTS%5Fcourse%5Fvideos&sortField=LinkFilename&isAscending=true") Video recording (onedrive)
                span &nbsp
            hr
            ul
                //li to connect to your Docker container (during hands-on sessions)
                //li to view lecture/practical materials (during lectures and hands-on sessions)
        .buttons
            .well
                //a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
                //span &nbsp
                a.btn.btn-lg.btn-primary(href="/materials") View or download materials
                span &nbsp
            hr

