extends layout

block content
    .container
        .intro
            h1 Analysis of High Throughput Sequencing RNA-Seq Data

            h3.
               Organism Biology Course, Swedish University of Agricultural Sciences
            hr
            h3 Online, Sweden, (November 29th-30th); December 6th - December 10th; (December 17th)
            hr
            h3.
                SLUBI (Amrei Binzer-Panchal, Nicolas Delhomme, Adnan Niazi, Varma Saripella), Bastian Schiffthaler*, Charlotte Soneson*
            hr
            h4 Important Notes:
            p.lead
                ul
                    li <b>*</b> numerous excellent material contributions, thanks!
                    li.
                        <b>R and Rstudio are FREE software, which can be installed on
                        any computer.</b>
                    li.
                        <b>If you are interested in setting it up on your own computer, visit:</b>
                    ul
                        li for R:&nbsp;
                            a(href="https://cran.r-project.org") https://cran.r-project.org
                        li for RStudio:&nbsp;
                            a(href="https://www.rstudio.com") https://www.rstudio.com
                        //li.
                        //    <b>And if you have any issues contact any of us.</b>
            //br
            hr
            p.lead.
                Welcome to the workshop! Click one of the links below:
            hr
        .buttons
            .well
                a.btn.btn-lg.btn-default(href="http://www.slubi.se/#events-and-news") SLUBI Website (External link)
                span &nbsp
                a.btn.btn-lg.btn-default(href="https://slubi-workspace.slack.com") Forum (Slack channel)
                span &nbsp
            hr
            ul
                li to connect to your Docker container (during hands-on sessions)
                li to view lecture/practical materials (during lectures and hands-on sessions)
        .buttons
            .well
                a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
                span &nbsp
                a.btn.btn-lg.btn-primary(href="/materials") View or download materials
                span &nbsp
            hr

