extends layout

block content
    .container
        .intro
            h1 Transcriptome Analyses for Non-Model Organisms
            h3 BNBio and University of Cambridge, Department of Genetics,
            h3 Online venue, March 1st-5th, 2021
            hr            
            h3.
                Nicolas Delhomme, Bastian Schiffthaler, Brian Haas*, Charlotte Soneson*
            hr
            h4 Important Notes:
            p.lead
                ul
                    li <b>*</b> numerous excellent material contributions, thanks!
                    li.
                        <b>R and Rstudio are FREE software, which can be installed on
                        any computer.</b>
                    li.
                        <b>If you are interested in setting it up on your own computer, visit:</b>
                    ul
                        li for R:&nbsp;
                            a(href="https://cran.r-project.org") https://cran.r-project.org
                        li for RStudio:&nbsp;
                            a(href="https://www.rstudio.com") https://www.rstudio.com
                        //li.
                        //    <b>And if you have any issues contact any of us.</b>
            //br
            hr
            p.lead.
                Welcome to the workshop! Click one of the links below:
            // Welcome to the course! Click one of the links below:
                
            // ul
               // li to discuss workshop related issues, visit the slack channel
                // li to access the schedule and other information, visit the course homepage
            hr
        .buttons
            .well
                a.btn.btn-lg.btn-default(href="https://training.cam.ac.uk/bioinformatics/event/3803220") Official Course Website (External link)
                span &nbsp
                a.btn.btn-lg.btn-default(href="https://tanmo.slack.com") Forum (Slack channel)
                span &nbsp
            hr
            ul
                //li to connect to your Amazon AWS instance (during hands-on sessions)
                li to connect to your Docker container (during hands-on sessions)
                li to view lecture/practical materials (during lectures and hands-on sessions)
        .buttons
            .well
                a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
                span &nbsp
                a.btn.btn-lg.btn-primary(href="/materials") View or download materials
                span &nbsp
            hr
