extends layout

block content
    .container-fluid
        h1 RNA-Seq Analyses in Non-Model Organisms
        h3.
          <b>BNBio: Nicolas Delhomme and Bastian Schiffthaler</b>, and Brian Haas* and Charlotte Soneson*
        h3 Venue: Physalia Courses, Online, December 11th - December 15th, 2023
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        hr
        h3 Download or view materials
        
        .well <b>Refreshers</b>
            ul
                li Cheat sheets and others - extremely useful reference, bookmark!
                    ul
                        li
                            a(href="https://files.fosswire.com/2007/08/fwunixref.pdf") Linux Cheat Sheet
                        li
                            a(href="https://www.rstudio.com/resources/cheatsheets") RStudio Cheat Sheets
                        li
                            a(href="https://github.com/trinityrnaseq/trinityrnaseq/wiki") Trinity Wiki
                li Practice
                    ul
                        li An introduction to the <b>unix/linux command line</b>. Do the 10 steps listed on:
                            br
                            a(href="http://linuxcommand.org/lc3_learning_the_shell.php") LinuxCommand.org (about 2h).
                        li An introduction to the <b>R language and environment</b> 
                            a(href="https://bschiffthaler.github.io/fg-course/") - In that page go to the R Basics link and go through it (about 2h)
            ul
                li Read
                    ul
                        li <b> DNA Sequencing </b>
                        li
                            a(href="https://www.nature.com/articles/nature24286") DNA Sequencing in the last 40 years
                        li
                            a(href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3571712/") Trinity _de-novo_ transcriptome assembly                       
                            
                        li <b> RNA Sequencing </b>
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pubmed/18516045") The original RNA-Seq publication
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4728800/") Best practices for RNA-seq data analysis
                        li
                            a(href="Material/Guidelines-for-RNA-Seq-data-analysis.pdf") Guideline for RNA-Seq data analysis
                        li
                            a(href="Material/Statistical-consideration.pdf") Statistical considerations
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pubmed/22988256") Normalization Method Comparison
                        li
                            a(href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-91") Differential Expression Methods Comparison
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4878611/") Study size and its effect on analysis
            ul
                li Watch
                     ul
                        li DNA Sequencing:
                            br
                            a(href="https://www.youtube.com/watch?v=mI0Fo9kaWqo") A video on High Throughput Sequencing - Eric Chow from University California San Franscisco - Duration: <b>32 minutes</b>
                        li Study design:
                            br
                            a(href="https://youtu.be/wOZ7rOJbUlY") Consideration about Study Design and statistical background - includes subtitles to get you used to my french accent - Duration: <b>29 minutes</b>
        .well Day 1 - <b> High Throughput Sequencing, 2nd generation</b>
            ul
                li 14:00 - 14:30 
                   a(href="https://nicolasdelhomme.github.io/Welcome/index.html") - Welcome to the course!
                   br
                   a(href="LearningObjectives/Day1-LO.pdf") Daily Learning Objectives
                li 14:30 - 15:10 
                   a(href="Lecture/Day1/HighThroughputSequencing.pdf") - High Throughput Sequencing Lecture
                li 15:10 - 15:30 
                   a(href="Lecture/Day1/Introduction-to-the-high-throughput-sequencing-data-analysis-workflow.pdf") - Data Preprocessing Workflow Lecture
                li 15:30 - 16:30 
                   a(href="https://nicolasdelhomme.github.io/PreprocessingJournalClub/index.html") - Data pre-processing discussion
                li 16:30 - 17:00 
                   a(href="Lecture/Day1/DataAtHand.pdf") - Data description
                li 17:10 - 19:40 
                   a(href="https://bschiffthaler.github.io/QC/#/") - Hands-on practical data pre-processing
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 2 - <b> NGS data <i>de-novo</i> transcriptome assembly</b>
            ul
                li
                   a(href="LearningObjectives/Day2-LO.pdf") Daily Learning Objectives
                li 14:00 - 14:30 
                   a(href="Exercises/Day2/Day2Revision.pdf") - Revision session
                li 14:30 - 16:30 
                   a(href="https://bschiffthaler.github.io/QC/#/") - Hands-on practical data pre-processing
                   br
                   a(href="https://gist.github.com/bschiffthaler/c6c12ef1bef33cb4932cea8274007579") Input QC tutorial
                li 16:30 - 19:40 
                   a(href="https://bschiffthaler.github.io/TranscriptomeAssembly/#/") - De-novo transcriptome assembly lecture and tutorial
                   br
                   a(href="https://gist.github.com/bschiffthaler/9cd8c5c656981f94e99b9d790408a248") Input Transcriptome Assembly
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 3 - <b>Third(!) generation sequencing, <i>de-novo</i> transcriptome assembly, assessment and evalutation</b>
            ul
                li 14:00 - 14:40 
                   a(href="https://bschiffthaler.github.io/TranscriptomeAssembly/#/") - De-novo transcriptome assembly lecture and tutorial
                   br
                   a(href="https://gist.github.com/bschiffthaler/9cd8c5c656981f94e99b9d790408a248") Input Transcriptome Assembly
                   br
                   a(href="Lecture/Day1/DataAtHand.pdf") - Data description
                   br
                   a(href="LearningObjectives/Day3-LO.pdf") Daily Learning Objectives
                li 14:40 - 15:00 
                   a(href="Exercises/Day3/Day3-Revision.pdf") - Revision session
                li 15:00 - 15:20 
                   a(href="Lecture/Day3/Nicolas-Delhomme-3rd-generation-sequencing.pdf") - De-novo transcriptome assembly lecture - 3rd generation sequencing!
                li 15:20 - 16:00 
                   a(href="Exercises/Day3/Trinity-hybrid-assembly.pdf") - De-novo transcriptome assembly - revisited
                li 16:10 - 17:40 
                   a(href="https://bschiffthaler.github.io/TranscriptomeEvaluation") - Assembly evaluation
                   br
                   a(href="https://gist.github.com/bschiffthaler/515619bbb65de786ebb156462b21cca4") Transcriptome evaluation
                li 17:40 - 19:40 
                   a(href="https://bschiffthaler.github.io/TranscriptomeAnnotation") - Functional annotation
                   br
                   a(href="https://gist.github.com/bschiffthaler/23d183eff6d085c40b3ddbdd56c47e86") Transcriptome annotation
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 4 - <b> Transcript quantification and Differential Expression</b>
            ul
                li 14:00 - 14:30
                   a(href="https://gist.github.com/bschiffthaler/23d183eff6d085c40b3ddbdd56c47e86") Transcriptome annotation
                   br
                   a(href="https://gist.github.com/bschiffthaler/e3db090b0eec84dbb14801996f856803") Transdecoder
                li
                   a(href="LearningObjectives/Day4-LO.pdf") Daily Learning Objectives
                li 14:30 - 15:00
                   a(href="Exercises/Day4/Day4-Revision.pdf") - Revision session
                li 15:00 - 15:30
                   a(href="https://gist.github.com/nicolasDelhomme/1e52d6a43b3c7b47edf1f7691d455283") - Pseudo-alignment
                li 15:30 - 16:30
                   a(href="https://gist.github.com/nicolasDelhomme/cc1083885b51231465788b5872668023") - R refresher and data science teaser
                li 16:30 - 19:15
                   a(href="https://gist.github.com/nicolasDelhomme/6caa666b062314ea18f9f31a6ae950c3") - Exploratory Data Analysis (a.k.a. Biological Qual
ity Assessment)
                li 19:15 - 19:40
                   a(href="https://gist.github.com/nicolasDelhomme/cf62d4b761cf9fa6ff7c998b0041ff62") - Git crash course
                li 19:40 - 20:00
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 5 - <b> Differential expression analysis</b>
            ul
                li
                   a(href="LearningObjectives/Day5-LO.pdf") Daily Learning Objectives
                   a(href="https://gist.github.com/nicolasDelhomme/6caa666b062314ea18f9f31a6ae950c3") - Exploratory Data Analysis (a.k.a. Biological Qua>
                li 15:00 - 15:45
                   a(href="https://gist.github.com/nicolasDelhomme/cf62d4b761cf9fa6ff7c998b0041ff62") - Git crash course
                li 15:45 - 19:00
                   a(href="https://gist.github.com/nicolasDelhomme/7031f3591368f08219e9294b9e89020e") - Differential Expression analysis
                li 19:00 - 20:00 - Final discussion session and Feedback
        .well <b>Go further</b>
            ul
                li
                    a(href="https://www.statlearning.com/") Book - An Introduction to Statistical Learning
                li
                    a(href="http://www.springer.com/gp/book/9783319072111") Book - Statistical Analysis of Next Generation Sequencing Data
                li
                    a(href="https://r4ds.had.co.nz") Book - R for Data Science V1
                li
                    a(href="http://r4ds.hadley.nz/") Book - R for Data Science V2
                li
                    a(href="https://vincebuffalo.com/book/") Book - Bioinformatics Data Skills
                li
                    a(href="https://leanpub.com/dataanalysisforthelifesciences") Website - Data Analysis for the Life Sciences
                li
                    a(href="http://f1000research.com/channels/bioconductor?&selectedDomain=ARTICLES") Website - F1000 Research Bioconductor Channel
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        hr