extends layout

block content
    .container-fluid
        h1 Bioinformatics im Umeå Workshop Series - #1 Introduction to Nextflow
        h3.
          Bastian Schiffthaler (Bn Bioinformatics) and Nicolas Delhomme (Umeå Plant Science Centre)
        h3 Venue: Umeå University, November 16th and 17th, NAT.D.346
        hr            
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
        hr
        h3 Download or view materials
        .well Pre-course
            ul
                li Cheat sheets - extremely useful reference, bookmark!
                    ul
                        li
                            a(href="https://files.fosswire.com/2007/08/fwunixref.pdf") Linux Cheat Sheet
                li Practice
                    ul
                        li An introduction to the <b>unix/linux command line</b>. Do the 10 steps listed on:
                            br
                            a(href="http://linuxcommand.org/lc3_learning_the_shell.php") LinuxCommand.org.
            ul
                li Take a look
                    ul
                        li
                            a(href="https://nf-co.re/rnaseq/3.12.0") NF-core RNA-Seq pipeline
        .well Day 1 - 9:00 - 17:00 - <b> Introduction to Unix, specifically Linux</b>
            ul
                li 09:00 - 09:30 
                   a(href="Lecture/W1Day1/Welcome.pdf") - Welcome to the course!
                li 09:30 - 10:30 
                   a(href="Lecture/W1Day1/ServerAccess.pdf") - Setting up access to the course servers
                li 10:30 - 10:45 - Coffee break
                li 10:45 - 12:00 
                   a(href="http://swcarpentry.github.io/shell-novice/") - Software carpentry 1-2-3
                li 12:00 - 13:00 - Lunch break
                li 13:00 - 14:45 
                   a(href="http://swcarpentry.github.io/shell-novice/") - Software carpentry 4-5
                li 14:45 - 15:00 - Coffee break
                li 15:00 - 16:30 
                   a(href="http://swcarpentry.github.io/shell-novice/") - Software carpentry 6-7
                li 16:30 - 17:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Assessment
        .well Day 2 - 9:00 - 17:00 - <b> Introduction to R</b>
            ul
                li 09:00 - 09:40 
                   a(href="Exercises/W1Day2/W1Day2Revision.pdf") - Revision session
                li
                   a(href="LearningObjectives/W1Day2-LO.pdf") Daily Learning Objectives
                li 09:40 - 10:00 
                   a(href="Lecture/W1Day2/RStudioAccess.pdf") - Setting up access to RStudio
                li 10:00 - 10:30 
                   a(href="materials/Torfs+Brauer-Short-R-Intro.pdf") - R Basics
                li 10:30 - 10:45 - Coffee break
                li 10:45 - 11:45 
                   a(href="materials/Torfs+Brauer-Short-R-Intro.pdf") - R Basics
                li 12:00 - 13:00 - Lunch break
                li 13:00 - 14:45 
                   a(href="materials/Torfs+Brauer-Short-R-Intro.pdf") - R Basics
                li 14:45 - 15:00 - Coffee break
                li 15:00 - 16:30 
                   a(href="https://r4ds.had.co.nz") - R for Data Science
                li 16:30 - 17:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Assessment
        .well Extras
            ul
                li
                    a(href="https://www.nextflow.io/docs/latest/basic.html") Website - Nextflow doc
                li
                    a(href="https://vincebuffalo.com/book/") Book - Bioinformatics Data Skills
                li
                    a(href="https://leanpub.com/dataanalysisforthelifesciences") Website - Data Analysis for the Life Sciences
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
        hr