extends layout

block content
    .container-fluid
        h1 RNA-SEQ ANALYSES IN NON-MODEL ORGANISMS
        h3 Physalia Courses, Berlin, November 11th-15th, 2019
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
        hr
        h3 Download or view materials
        .well Day 1 - <b> High Throughput Sequencing, 2nd generation</b>
            ul
                li
                   a(href="LearningObjectives/Day1-LO.pdf") Daily Learning Objectives
                li 09:30 - 10:00 
                   a(href="Lecture/Day1/Welcome.pdf") - Welcome to the course!
                li 10:00 - 11:00 
                   a(href="Lecture/Day1/HighThroughputSequencing.pdf") - High Throughput Sequencing Lecture
                li 11:00 - 12:00 
                   a(href="Exercises/Day1/Day1-Journal-Club-Aim-and-Instructions.pdf") - Group work: Journal club on the RNA-Seq guidelines
                li 13:00 - 13:30 
                   a(href="Lecture/Day1/Introduction-to-the-high-throughput-sequencing-data-analysis-workflow.pdf") - Group work summary Lecture
                li 13:30 - 13:40 
                   a(href="Lecture/Day1/DataAtHand.pdf") - Data description
                li 13:40 - 16:00 
                   a(href="https://bschiffthaler.github.io/Slides/QC/#/") - Hands-on practical data pre-processing
                li 16:00 - 16:30 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
                li 16:30 - 17:30 - Self-study
        .well Day 2 - <b> NGS data <i>de-novo</i> transcriptome assembly</b>
            ul
                li
                   a(href="LearningObjectives/Day2-LO.pdf") Daily Learning Objectives
                li 09:30 - 10:00 
                   a(href="Exercises/Day2/Day2-Revision.pdf") - Revision session
                li 10:00 - 13:00 
                   a(href="https://bschiffthaler.github.io/Slides/QC/#/") - Hands-on practical data pre-processing
                li 13:00 - 16:00 
                   a(href="https://bschiffthaler.github.io/Slides/TranscriptomeAssembly/#/") - De-novo transcriptome assembly lecture and tutorial
                   br 
                   a(href="Exercises/Day2/Accessing the computing resource.pdf") MIND: Note on connecting to your computation instance
                li 16:00 - 16:30 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
                li 16:30 - 17:30 - Self-study
        .well Day 3 - <b>Third(!) generation sequencing and <i>de-novo</i> transcriptome assembly</b>
            ul
                li
                   a(href="LearningObjectives/Day3-LO.pdf") Daily Learning Objectives
                li 09:30 - 10:00 
                   a(href="Exercises/Day3/Day3-Revision.pdf") - Revision session
                li 10:30 - 11:30 
                   a(href="https://bschiffthaler.github.io/Slides/TranscriptomeAssembly/#/") - De-novo transcriptome assembly hands-on...
                   br 
                   p ... and 10 presentations
                li 11:30 - 11:45 
                   a(href="https://github.com/trinityrnaseq/trinityrnaseq/wiki") - a walk through the Trinity Wiki...
                li 11:45 - 12:15 
                   a(href="Lecture/Day3/Nicolas-Delhomme-3rd-generation-sequencing-RDA-Helsinki-2019.pdf") - De-novo transcriptome assembly lecture - 3rd generation sequencing!
                li 12:15 - 13:00 
                   a(href="Exercises/Day3/Nicolas-Delhomme-IsoSeq-Version-3.pdf") - 3rd generation sequencing pre-processing
                li 14:00 - 14:30 - 11 more presentations
                li 14:30 - 15:30                     
                   a(href="Exercises/Day3/Nicolas-Delhomme-Cogent.pdf") - De-novo transcriptome assembly (of sort)
                li 15:30 - 17:00 
                   a(href="Lecture/Day3/XXX.pdf") - Assembly comparison
                li 17:00 - 16:30 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
                li 16:30 - 17:30 - Self-study
        .well Day 4 - <b> Quantification and Differential expression analysis</b>
            ul
                li
                   a(href="LearningObjectives/Day4-LO.pdf") Daily Learning Objectives
                li 09:30 - 10:00 
                   a(href="Exercises/Day4/Day4Revision.pdf") - Revision session
                li 10:00 - 10:30 
                   a(href="Lecture/Day4/Statistical-analysis-of-expression-data.pdf") - Statistical analysis of expression data - Lecture
                li 10:30 - 11:30 
                   a(href="Exercises/Day4/Day3-Discussion-Group.pdf") - Discussion Group Work
                li 11:30 - 12:00 
                   a(href="Lecture/Day4/Pseudoalignments.pdf") - Pseudo-alignment Lecture
                li 13:00 - 13:30 
                   a(href="Exercises/Day4/05-Pseudo-Alignment.html") - Hands-on practical - Pseudo-alignment
                li 13:30 - 14:30 
                   a(href="Exercises/Day4/rnaseq_gene_EBI_advRNAseq_2019.html") - Differential Expression analysis setup - until the Exploratory analysis and visualization
                li 14:30 - 15:30 
                   a(href="Lecture/Day4/differential_expression-TANMO2019.pdf") - Lecture Differential Expression
                li 15:30 - 17:00 
                   a(href="Exercises/Day4/rnaseq_gene_EBI_advRNAseq_2019.html") - Differential Expression analysis practical
                li 17:00 - 17:30 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 5 - <b> Functional annotation and downstream analysis </b>
            ul
                li
                   a(href="LearningObjectives/Day5-LO.pdf") Daily Learning Objectives
                li 09:30 - 10:00 
                   a(href="Exercises/Day5/Day5Revision.pdf") - Revision session
                li 09:30 - 16:00 
                   a(href="Lecture/Day5/XXX.pdf") - TBD
                li 16:00 - 17:30 - Final revision session and Feedback
        .well Practice
            ul
                li An introduction to the <b>unix/linux command line</b>. The website requires to register, but the content linked is accessible for "free":
                   br
                   a(href="https://www.codecademy.com/catalog/language/bash") Codecademy tutorial
                li An introduction to the <b>R language and environment</b>. The website requires to register, but the content linked is accessible for "free":
                   br
                   a(href="https://www.datacamp.com/courses/free-introduction-to-r") DataCamp R introduction tutorial

        .well Read
            ul
                li <b>Anytime</b>
                li
                   a(href="https://www.nature.com/articles/nature24286") DNA Sequencing in the last 40 years
                li
                   a(href="https://www.ncbi.nlm.nih.gov/pubmed/18516045") The original RNA-Seq publication
                li <b> Day 1 </b>
                li
                   a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4728800/") Best practices for RNA-seq data analysis
                li
                   a(href="https://www.epigenesys.eu/en/protocols/bio-informatics/1283-guidelines-for-rna-seq-data-analysis") Guideline for RNA-Seq data analysis
                li <b> Day 3 </b>
                li
                   a(href="https://www.pacb.com/wp-content/uploads/Application-Brief-RNA-sequencing-Best-Practices.pdf") PacBio sequencing by PB
                li
                   a(href="https://nanoporetech.com/resource-centre/quantitative-rna-seq-pcr-cdna-pcr-free-direct-cdna-and-direct-rna-sequencing") Oxford Nanopore sequencing by ONT
                li <b> Day 4 </b> Only so that you get an idea
                li
                   a(href="https://www.ncbi.nlm.nih.gov/pubmed/22988256") Normalization Method Comparison
                li
                   a(href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-91") Differential Expression Methods Comparison
                li
                   a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4878611/") Study size and its effect on analysis
        .well Extras
            ul
                li
                    a(href="https://files.fosswire.com/2007/08/fwunixref.pdf") Linux Cheat Sheet
                li
                    a(href="https://www.rstudio.com/resources/cheatsheets") RStudio Cheat Sheets
                li
                    a(href="https://www.youtube.com/watch?v=mI0Fo9kaWqo") A video on High Throughput Sequencing - Eric Chow from University California San Franscisco
                li
                    a(href="http://www-bcf.usc.edu/~gareth/ISL/") Book - An Introduction to Statistical Learning
                li
                    a(href="http://www.springer.com/gp/book/9783319072111") Book - Statistical Analysis of Next Generation Sequencing Data
                li
                    a(href="https://leanpub.com/dataanalysisforthelifesciences") Website - Data Analysis for the Life Sciences
                li
                    a(href="http://f1000research.com/channels/bioconductor?&selectedDomain=ARTICLES") Website - F1000 Research Bioconductor Channel
                li
                    a(href="Lecture/Misc/Nicolas-Delhomme_Course-Setup.pdf") Course setup using Docker container
                li <b>Most of the practicals below require data / software not available in the course setup - contact us if interested</b>
                li
                    a(href="Lecture/Day5/Nicolas-Delhomme_Gene-Set-Enrichment-Analysis.pdf") Day 5 extra - GSEA Lecture
                li
                    a(href="Exercises/Day5/EGSEAWorkflow.html") Day 5 extra - Ensemble GSEA tutorial 
                li
                    a(href="Lecture/Day5/Machine Learning.pdf") Day 5 extra - Machine Learning Lecture
                li
                    a(href="Exercises/Day5/cancer-vs-healthy.html") Day 5 extra - Cancer vs. Healthy Machine Learning Prediction
                li
                    a(href="Exercises/Day5/cancer-mc-vs-healthy.html") Day 5 extra - Cancer vs. Healthy Machine Learning Classification
                li
                    a(href="Lecture/Day5/Networks.pdf") Day 5 extra - Gene Network Inference Lecture
                li
                    a(href="Exercises/Day5/network-practical.html") Day 5 extra - Gene Network Inference Practical
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
        hr
