extends layout

block content
    .container-fluid
        h1 RNA-Seq Data Analyses
        h3.
          <b>Kristina Benevides and Nicolas Delhomme</b>, and Brian Haas* and Bastian Schiffthaler* and Charlotte Soneson*
        h3 Venue: Physalia Courses, LMU, Munich, December 2nd - December 6th, 2024
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        hr
        h3 Download or view materials
        
        .well <b>Refreshers</b>
            ul
                li Cheat sheets and others - extremely useful reference, bookmark!
                    ul
                        li
                            a(href="https://files.fosswire.com/2007/08/fwunixref.pdf") Linux Cheat Sheet
                        li
                            a(href="https://www.rstudio.com/resources/cheatsheets") RStudio Cheat Sheets
                        li
                            a(href="https://github.com/trinityrnaseq/trinityrnaseq/wiki") Trinity Wiki
                li Practice
                    ul
                        li An introduction to the <b>unix/linux command line</b>. Do the 10 steps listed on:
                            br
                            a(href="http://linuxcommand.org/lc3_learning_the_shell.php") LinuxCommand.org (about 2h).
                        li An introduction to the <b>R language and environment</b> 
                            a(href="https://bschiffthaler.github.io/fg-course/") - In that page go to the R Basics link and go through it (about 2h)
            ul
                li Read
                    ul
                        li <b> DNA Sequencing </b>
                        li
                            a(href="https://www.nature.com/articles/nature24286") DNA Sequencing in the last 40 years
                        li
                            a(href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3571712/") Trinity _de-novo_ transcriptome assembly                       
                            
                        li <b> RNA Sequencing </b>
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pubmed/18516045") The original RNA-Seq publication
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4728800/") Best practices for RNA-seq data analysis
                        li
                            a(href="Material/Guidelines-for-RNA-Seq-data-analysis.pdf") Guideline for RNA-Seq data analysis
                        li
                            a(href="Material/Statistical-consideration.pdf") Statistical considerations
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pubmed/22988256") Normalization Method Comparison
                        li
                            a(href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-91") Differential Expression Methods Comparison
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4878611/") Study size and its effect on analysis
            ul
                li Watch
                     ul
                        li DNA Sequencing:
                            br
                            a(href="https://www.youtube.com/watch?v=mI0Fo9kaWqo") A video on High Throughput Sequencing - Eric Chow from University California San Franscisco - Duration: <b>32 minutes</b>
                        li Study design:
                            br
                            a(href="https://youtu.be/wOZ7rOJbUlY") Consideration about Study Design and statistical background - includes subtitles to get you used to my french accent - Duration: <b>29 minutes</b>
        .well Day 1 - <b> Introduction to Linux </b>
            ul
                li 09:00 - 09:20 - Physalia, participants and trainers intro
                li 09:20 - 09:30 
                   a(href="LearningObjectives/Day1-LO.pdf") - Daily Learning Objectives
                li 09:30 - 10:30 
                   a(href="Lecture/Day1/server_introduction.html") - Getting connected
                li 10:45 - 12:00 
                   a(href="http://swcarpentry.github.io/shell-novice/") - Introduction to Linux - Software carpentry
                li 13:00 - 14:30 
                   a(href="http://swcarpentry.github.io/shell-novice/") - Introduction to Linux - Software carpentry
                li 14:45 - 15:40    
                   a(href="https://carpentries-incubator.github.io/workflows-nextflow/01-getting-started-with-nextflow.html") - Nextflow intro
                   br
                   a(href="https://nf-co.re/rnaseq/3.17.0/") - and applied demo
                   br
                   a(href="Exercise/Day1/nextflow_nf-core_rnaseq.pdf") - Nextflow hands-on
                li 15:40 - 16:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 2 - <b> High Throughput Sequencing Introduction and RNA-Seq data Quality Control (QC)</b>
            ul
                li
                   a(href="LearningObjectives/Day2-LO.pdf") Daily Learning Objectives
                li 09:10 - 10:30 
                   a(href="Exercise/Day2/Day2-Revision.pdf") - Revision session
                   br
                   a(href="Exercise/Day1/data_at_hand.pdf") - Data at Hand
                li 10:45 - 12:00 
                   a(href="Lecture/Day2/HighThroughputSequencing.pdf") - High Throughput Sequencing Lecture
                   br
                   a(href="Lecture/Day2/Introduction-to-the-high-throughput-sequencing-data-analysis-workflow.pdf") - Data Preprocessing Workflow Lecture
                   br
                   a(href="https://nicolasdelhomme.github.io/QC/index.html") - QC overview
                li 13:00 - 14:30 
                   a(href="Exercise/Day2/nextflow_nf-core_rnaseq-qc.pdf") - QC hands-on
                   br
                   a(href="https://nicolasdelhomme.github.io/QC/index.html") - QC summary
                li 14:45 - 15:40 
                   a(href="Lecture/Day2/Day2-Pseudoalignments.pdf") - Data Preprocessing Quantification Lecture
                li 15:40 - 16:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 3 - <b>Third generation sequencing insights and Exploratory Data Analysis (EDA)</b>
            ul
                li
                   a(href="LearningObjectives/Day3-LO.pdf") Daily Learning Objectives
                li 09:05 - 09:50 
                   a(href="Exercise/Day3/Day3-Revision.pdf") - Revision session
                li 09:50 - 10:30 
                   a(href="Lecture/Day3/Day3-3rd_gen_sequencing.pdf") - 3rd generation sequencing
                li 10:45 - 12:00 
                   a(href="https://gist.github.com/nicolasDelhomme/cc1083885b51231465788b5872668023") - R refresher and data science teaser
                li 13:00 - 14:30 
                   a(href="https://gist.github.com/nicolasDelhomme/798008cd2e3997a7453515d801f49538") - Exploratory Data Analysis (EDA, a.k.a. Biological Quality Assessment)
                li 14:45 - 15:40 
                   a(href="https://gist.github.com/nicolasDelhomme/798008cd2e3997a7453515d801f49538") - EDA (guided session)
                li 15:40 - 16:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 4 - <b>Differential gene expression (DGE) analysis</b>
            ul
                li
                   a(href="LearningObjectives/Day4-LO.pdf") Daily Learning Objectives
                li 09:05 - 10:30 
                   a(href="Exercise/Day4/Day4-Revision.pdf") - Revision session
                   br
                   a(href="Lecture/Day2/Reproducible-research-template.pdf") - Reproducible Research Exposure
                   br
                   a(href="https://gist.github.com/nicolasDelhomme/798008cd2e3997a7453515d801f49538") - EDA (guided session)
                li 10:45 - 12:00 
                   a(href="https://gist.github.com/nicolasDelhomme/055ce51a3e597155a8502d0adf42fede") - Differential Expression analysis (DGE)
                li 13:00 - 15:40 
                   a(href="https://gist.github.com/nicolasDelhomme/055ce51a3e597155a8502d0adf42fede") - Differential Expression analysis (guided session)
                li 15:40 - 16:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 5 - <b>Gene Set Enrichment Analysis (GSEA)</b>
            ul
                li Photo!
                li
                   a(href="LearningObjectives/Day5-LO.pdf") Daily Learning Objectives
                li 09:15 - 10:30 
                   a(href="Exercise/Day5/Day5-Revision.pdf") - Revision session
                li 10:45 - 12:00 
                   a(href="https://gist.github.com/nicolasDelhomme/e73c2f2be0542306c53675b5048b5bbf") - Gene Set Enrichment Analysis (GSEA)
                li 13:00 - 15:40 
                   a(href="https://gist.github.com/nicolasDelhomme/e73c2f2be0542306c53675b5048b5bbf") - Gene Set Enrichment Analysis (guided session)
                li 15:40 - 16:00 - Final discussion session and Feedback
        .well <b>More tutorials</b>
            ul
                li
                   a(href="https://gist.github.com/nicolasDelhomme/91d917362d7a8449739833eb38804739") - Differential Transcript usage (DTU)
                li
                   a(href="https://gist.github.com/nicolasDelhomme/5c747f1b4f7b3edcfcf60361c95dbc38") - Ensemble Gene Set Enrichment Analysis (EGSEA)
        .well <b>Go further</b>
            ul
                li
                    a(href="https://www.statlearning.com/") Book - An Introduction to Statistical Learning
                li
                    a(href="http://www.springer.com/gp/book/9783319072111") Book - Statistical Analysis of Next Generation Sequencing Data
                li
                    a(href="https://r4ds.had.co.nz") Book - R for Data Science V1
                li
                    a(href="http://r4ds.hadley.nz/") Book - R for Data Science V2
                li
                    a(href="https://vincebuffalo.com/book/") Book - Bioinformatics Data Skills
                li
                    a(href="https://leanpub.com/dataanalysisforthelifesciences") Website - Data Analysis for the Life Sciences
                li
                    a(href="http://f1000research.com/channels/bioconductor?&selectedDomain=ARTICLES") Website - F1000 Research Bioconductor Channel
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        hr