extends layout

block content
    .container-fluid
        h1 RNA-Seq Analyses in Non-Model Organisms
        h3.
          <b>Kristina Benevides and Nicolas Delhomme</b>, and Brian Haas* and Bastian Schiffthaler* and Charlotte Soneson*
        h3 Venue: Physalia Courses, Online, November 18th - November 22th, 2024
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        hr
        h3 Download or view materials
        
        .well <b>Refreshers</b>
            ul
                li Cheat sheets and others - extremely useful reference, bookmark!
                    ul
                        li
                            a(href="https://files.fosswire.com/2007/08/fwunixref.pdf") Linux Cheat Sheet
                        li
                            a(href="https://www.rstudio.com/resources/cheatsheets") RStudio Cheat Sheets
                        li
                            a(href="https://github.com/trinityrnaseq/trinityrnaseq/wiki") Trinity Wiki
                li Practice
                    ul
                        li An introduction to the <b>unix/linux command line</b>. Do the 10 steps listed on:
                            br
                            a(href="http://linuxcommand.org/lc3_learning_the_shell.php") LinuxCommand.org (about 2h).
                        li An introduction to the <b>R language and environment</b> 
                            a(href="https://bschiffthaler.github.io/fg-course/") - In that page go to the R Basics link and go through it (about 2h)
            ul
                li Read
                    ul
                        li <b> DNA Sequencing </b>
                        li
                            a(href="https://www.nature.com/articles/nature24286") DNA Sequencing in the last 40 years
                        li
                            a(href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3571712/") Trinity _de-novo_ transcriptome assembly                       
                            
                        li <b> RNA Sequencing </b>
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pubmed/18516045") The original RNA-Seq publication
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4728800/") Best practices for RNA-seq data analysis
                        li
                            a(href="Material/Guidelines-for-RNA-Seq-data-analysis.pdf") Guideline for RNA-Seq data analysis
                        li
                            a(href="Material/Statistical-consideration.pdf") Statistical considerations
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pubmed/22988256") Normalization Method Comparison
                        li
                            a(href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-91") Differential Expression Methods Comparison
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4878611/") Study size and its effect on analysis
            ul
                li Watch
                     ul
                        li DNA Sequencing:
                            br
                            a(href="https://www.youtube.com/watch?v=mI0Fo9kaWqo") A video on High Throughput Sequencing - Eric Chow from University California San Franscisco - Duration: <b>32 minutes</b>
                        li Study design:
                            br
                            a(href="https://youtu.be/wOZ7rOJbUlY") Consideration about Study Design and statistical background - includes subtitles to get you used to my french accent - Duration: <b>29 minutes</b>
        .well Day 1 - <b> High Throughput Sequencing, 2nd generation</b>
            ul
                li 14:00 - 14:20 - Physalia, participants and trainers intro
                li 14:20 - 14:30 
                   a(href="https://nicolasdelhomme.github.io/Welcome/index.html") - Welcome to the course!
                   br
                   a(href="LearningObjectives/Day1-LO.pdf") Daily Learning Objectives
                li 14:30 - 14:50 
                   a(href="Lecture/Day1/server_introduction.html") - Getting connected
                li 15:00 - 15:20 
                   a(href="Lecture/Day1/DataAtHand.pdf") - Data description
                li 15:20 - 15:50 
                   a(href="https://carpentries-incubator.github.io/workflows-nextflow/01-getting-started-with-nextflow.html") - Nextflow intro
                   br
                   a(href="https://nf-co.re/denovotranscript/1.0.0/") - and applied demo
                li 16:00 - 16:50 
                   a(href="Exercise/Day1/nextflow_nf-core_denovotranscript_qc.pdf") - Nextflow hands-on (QC)
                li 17:30 - 18:20 
                   a(href="Lecture/Day1/HighThroughputSequencing.pdf") - High Throughput Sequencing Lecture
                li 18:30 - 19:40 
                   a(href="https://nicolasdelhomme.github.io/QC/index.html") - QC overview
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 2 - <b> NGS data <i>de-novo</i> transcriptome assembly</b>
            ul
                li
                   a(href="LearningObjectives/Day2-LO.pdf") Daily Learning Objectives
                li 14:10 - 14:50 
                   a(href="Exercise/Day2/Day2Revision.pdf") - Revision session
                li 15:00 - 15:50 
                   a(href="Lecture/Day2/Introduction-to-the-high-throughput-sequencing-data-analysis-workflow.pdf") - Data Preprocessing Workflow Lecture
                   br
                   a(href="https://nicolasdelhomme.github.io/QC/index.html#/5/0/3") - preprocessing overview
                li 16:00 - 16:30 
                   a(href="Exercise/Day1/nextflow_nf-core_denovotranscript.pdf") - Nextflow hands-on (whole pipeline)
                li 16:30 - 16:45 / 17:15 - 18:15
                   a(href="https://nicolasdelhomme.github.io/TranscriptomeAssembly/") - De-novo transcriptome assembly lecture
                li 18:25 - 19:15 
                   a(href="https://bschiffthaler.github.io/TranscriptomeEvaluation") - Assembly evaluation
                li 19:25 - 19:40 
                   a(href="https://bschiffthaler.github.io/TranscriptomeAnnotation") - Functional annotation
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 3 - <b>Third(!) generation sequencing, <i>de-novo</i> transcriptome assembly, assessment and evalutation</b>
            ul
                li
                   a(href="LearningObjectives/Day3-LO.pdf") Daily Learning Objectives
                li 14:05 - 14:20 
                   a(href="Exercise/Day3/Day3-Revision.pdf") - Revision session
                li 14:20 - 14:50 
                   a(href="Exercise/Day3/Day3-Assembly-Evaluation.html") - Assembly QC
                li 15:00 - 15:50 
                   a(href="Lecture/Day3/Day3-3rd_gen_sequencing.pdf") - De-novo transcriptome assembly lecture - 3rd generation sequencing!
                li 16:00 - 16:45 
                   a(href="Exercise/Day3/Day3-Trinity-hybrid-assembly.html") - De-novo transcriptome assembly - revisited
                li 16:45 - 17:15 
                   a(href="Installation/RStudioInstall.pdf") - break (and installation of the R packages)
                li 17:15 - 18:15 
                   a(href="https://bschiffthaler.github.io/TranscriptomeAnnotation") - Functional annotation
                   br
                   a(href="Exercise/Day3/Day3-Trinity-assembly-annotation.html") Transcriptome annotation
                li 18:25 - 19:15 
                   a(href="Lecture/Day3/Day3-Pseudoalignments.pdf") - Data Preprocessing Quantification Lecture
                li 19:25 - 19:40 
                   a(href="Lecture/Day3/Day3-Reproducible-research.pdf") - A touch on reproducible research
                   br
                   a(href="https://gist.github.com/nicolasDelhomme/cf62d4b761cf9fa6ff7c998b0041ff62") - and some prep for tomorrow
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 4 - <b> Exploratory Data Analysis (a.k.a. Biological Quality Assessment)</b>
            ul
                li
                   a(href="LearningObjectives/Day4-LO.pdf") Daily Learning Objectives
                li 14:05 - 14:30 
                   a(href="Exercise/Day4/Day4-Revision.pdf") - Revision session
                li 14:30 - 15:30 
                   a(href="https://gist.github.com/nicolasDelhomme/cc1083885b51231465788b5872668023") - R refresher and data science teaser
                li 15:30 - 18:00 
                   a(href="https://gist.github.com/nicolasDelhomme/6caa666b062314ea18f9f31a6ae950c3") - EDA (guided session)
                li 18:00 - 19:40 
                   a(href="https://gist.github.com/nicolasDelhomme/6caa666b062314ea18f9f31a6ae950c3") - EDA (hands-on)
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 5 - <b> Differential expression analysis</b>
            ul
                li Photo!
                li
                   a(href="LearningObjectives/Day5-LO.pdf") Daily Learning Objectives
                li 14:10 - 14:30 
                   a(href="Exercise/Day5/Day5-Revision.pdf") - Revision session
                li 14:30 - 14:50 
                   a(href="https://gist.github.com/nicolasDelhomme/6caa666b062314ea18f9f31a6ae950c3") - EDA (hands-on)
                li 14:50 - 16:45 
                   a(href="https://gist.github.com/nicolasDelhomme/7031f3591368f08219e9294b9e89020e") - Differential Expression analysis (guided session)
                li 17:15 - 19:00 
                   a(href="https://gist.github.com/nicolasDelhomme/7031f3591368f08219e9294b9e89020e") - Differential Expression analysis (hands-on)
                li 19:00 - 20:00 - Final discussion session and Feedback
        .well <b>Go further</b>
            ul
                li
                    a(href="https://www.statlearning.com/") Book - An Introduction to Statistical Learning
                li
                    a(href="http://www.springer.com/gp/book/9783319072111") Book - Statistical Analysis of Next Generation Sequencing Data
                li
                    a(href="https://r4ds.had.co.nz") Book - R for Data Science V1
                li
                    a(href="http://r4ds.hadley.nz/") Book - R for Data Science V2
                li
                    a(href="https://vincebuffalo.com/book/") Book - Bioinformatics Data Skills
                li
                    a(href="https://leanpub.com/dataanalysisforthelifesciences") Website - Data Analysis for the Life Sciences
                li
                    a(href="http://f1000research.com/channels/bioconductor?&selectedDomain=ARTICLES") Website - F1000 Research Bioconductor Channel
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        hr