extends layout

block content
    .container-fluid
        h1 RNA-Seq Analyses in Non-Model Organisms
        h3 Physalia Courses, Online, December 7th-11th, 2020
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
        hr
        h3 Download or view materials
        .well <b>Pre-course</b>
            ul
                li Cheat sheets and others - extremely useful reference, bookmark!
                    ul
                        li
                            a(href="https://files.fosswire.com/2007/08/fwunixref.pdf") Linux Cheat Sheet
                        li
                            a(href="https://www.rstudio.com/resources/cheatsheets") RStudio Cheat Sheets
                        li
                            a(href="https://github.com/trinityrnaseq/trinityrnaseq/wiki") Trinity Wiki
                li Practice
                    ul
                        li Get access to a terminal, log in with the user: <b>training</b> (password: <b>training</b>)
                            br
                            a(href="http://franklin.upsc.se:11099/") Access the practice terminal
                        li An introduction to the <b>unix/linux command line</b>. Do the 10 steps listed on:
                            br
                            a(href="http://linuxcommand.org/lc3_learning_the_shell.php") LinuxCommand.org (about 2h).
                        li An introduction to the <b>R language and environment</b>
                            a(href="https://bschiffthaler.github.io/fg-course/") - In that page go to the R Basics link and go through it (about 2h)
            ul
                li Read
                    ul
                        li <b> For Day 1 </b>
                        li
                            a(href="https://www.nature.com/articles/nature24286") DNA Sequencing in the last 40 years
                        li
                            a(href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3571712/") Trinity _de-novo_ transcriptome assembly
                        li <b> For Day 5 </b>
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pubmed/18516045") The original RNA-Seq publication
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4728800/") Best practices for RNA-seq data analysis
                        li
                            a(href="materials/Guidelines-for-RNA-Seq-data-analysis.pdf") Guideline for RNA-Seq data analysis
                        li
                            a(href="materials/Statistical-consideration.pdf") Statistical considerations
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pubmed/22988256") Normalization Method Comparison
                        li
                            a(href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-91") Differential Expression Methods Comparison
                        li
                            a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4878611/") Study size and its effect on analysis
            ul
                li Watch
                     ul
                        li For Day 1:
                            br
                            a(href="https://www.youtube.com/watch?v=mI0Fo9kaWqo") A video on High Throughput Sequencing - Eric Chow from University California San Franscisco - Duration: <b>32 minutes</b>
                        li For Day 5:
                            br
                            a(href="https://youtu.be/wOZ7rOJbUlY") Consideration about Study Design and statistical background - includes subtitles to get you used to my french accent - Duration: <b>29 minutes</b>
        .well Day 1 - <b> High Throughput Sequencing, 2nd generation</b>
            ul
                li 14:00 - 14:30 
                   a(href="https://nicolasdelhomme.github.io/Welcome/index.html") - Welcome to the course!
                   br
                   a(href="LearningObjectives/Day1-LO.pdf") Daily Learning Objectives
                li 14:30 - 15:10 
                   a(href="Lecture/Day1/HighThroughputSequencing.pdf") - High Throughput Sequencing Lecture
                li 15:10 - 15:30 
                   a(href="Lecture/Day1/Introduction-to-the-high-throughput-sequencing-data-analysis-workflow.pdf") - Data Preprocessing Workflow Lecture
                li 15:30 - 16:30 
                   a(href="https://nicolasdelhomme.github.io/PreprocessingJournalClub/index.html") - Data pre-processing discussion
                li 16:30 - 17:00 
                   a(href="Lecture/Day1/DataAtHand.pdf") - Data description
                li 17:10 - 19:40 
                   a(href="https://bschiffthaler.github.io/QC/#/") - Hands-on practical data pre-processing
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 2 - <b> NGS data <i>de-novo</i> transcriptome assembly</b>
            ul
                li
                   a(href="LearningObjectives/Day2-LO.pdf") Daily Learning Objectives
                li 14:00 - 14:30 
                   a(href="Exercises/Day2/Day2Revision.pdf") - Revision session
                li 14:30 - 16:30 
                   a(href="https://bschiffthaler.github.io/QC/#/") - Hands-on practical data pre-processing
                   br
                   a(href="https://gist.github.com/bschiffthaler/c6c12ef1bef33cb4932cea8274007579") Input QC tutorial
                li 16:30 - 19:40 
                   a(href="https://bschiffthaler.github.io/TranscriptomeAssembly/#/") - De-novo transcriptome assembly lecture and tutorial
                   br
                   a(href="https://gist.github.com/bschiffthaler/9cd8c5c656981f94e99b9d790408a248") Input Transcriptome Assembly
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 3 - <b>Third(!) generation sequencing, <i>de-novo</i> transcriptome assembly, assessment and evalutation</b>
            ul
                li
                   a(href="LearningObjectives/Day3-LO.pdf") Daily Learning Objectives
                   br
                   p VOTE!
                li 14:00 - 14:30 
                   a(href="Exercises/Day3/Day3-Revision.pdf") - Revision session
                li 14:30 - 15:00 
                   a(href="Lecture/Day3/Nicolas-Delhomme-3rd-generation-sequencing.pdf") - De-novo transcriptome assembly lecture - 3rd generation sequencing!
                li 15:10 - 16:00 
                   a(href="Exercises/Day3/Trinity-hybrid-assembly.pdf") - De-novo transcriptome assembly - revisited
                li 16:10 - 17:40 
                   a(href="https://bschiffthaler.github.io/TranscriptomeEvaluation") - Assembly evaluation
                   br
                   a(href="https://gist.github.com/bschiffthaler/515619bbb65de786ebb156462b21cca4") Transcriptome evaluation
                li 17:40 - 19:40 
                   a(href="https://bschiffthaler.github.io/TranscriptomeAnnotation") - Functional annotation
                   br
                   a(href="https://gist.github.com/bschiffthaler/23d183eff6d085c40b3ddbdd56c47e86") Transcriptome annotation
                li 19:40 - 20:00 
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 4 - <b> Transcript quantification and Differential Expression</b>
            ul
                li
                   a(href="LearningObjectives/Day4-LO.pdf") Daily Learning Objectives
                li 14:00 - 14:30 
                   a(href="Exercises/Day4/Day4-Revision.pdf") - Revision session
                li 14:30 - 15:00 
                   a(href="Lecture/Day4/Pseudoalignments.pdf") - Pseudo-alignment Lecture
                li 15:10 - 15:40 
                   a(href="Exercises/Day4/Day4Exercise.pdf") - Hands-on practical - Pseudo-alignment
                   br
                   a(href="Exercises/Day4/Day4Recap.pdf") Bash scripting and looping tutorial
                li 15:40 - 17:00 
                   a(href="Lecture/Day4/Statistical-analysis-of-expression-data.pdf") - Statistical concerns - Lecture
                li 17:10 - 18:40 
                   a(href="Exercises/Day4/rnaseq_gene_EBI_advRNAseq_2019.html") - Differential Expression analysis setup - until the Exploratory analysis and visualization (included)
                   br
                   a(href="Exercises/Day4/Charlotte-BiologicalQA.R") Differential Expression analysis setup - R code
                li 18:40 - 19:40 
                   a(href="Lecture/Day4/differential_expression-TANMO2019.pdf") - Lecture Differential Expression
                li 19:40 - 20:00
                   a(href="Feedback/Feedback-And-Daily-Assessment.pdf") - Feedback and Daily Assessment
        .well Day 5 - <b> Quantification and Differential expression analysis</b>
            ul
                li
                   a(href="LearningObjectives/Day5-LO.pdf") Daily Learning Objectives
                li 14:00 - 14:30 
                   a(href="Exercises/Day5/Day5-Revision.pdf") - Revision session
                li 14:30 - 15:30 		  
                   a(href="Exercises/Day4/rnaseq_gene_EBI_advRNAseq_2019.html") - Differential Expression analysis setup - until the Exploratory analysis and visualization (included)
                   a(href="Exercises/Day4/Charlotte-BiologicalQA.R") Differential Expression analysis setup - R code
                   br
                   a(href="Exercises/Day4/Charlotte-BiologicalQA.R") Revisited code
                   br
                   a(href="Exercises/Day4/Charlotte-BiologicalQA.html") Revisited code as a html report
                li 15:30 - 17:30 
                   a(href="Lecture/Day4/differential_expression-TANMO2019.pdf") - Lecture Differential Expression
                li 17:30 - 19:40 
                   a(href="Exercises/Day4/rnaseq_gene_EBI_advRNAseq_2019.html") - Differential Expression analysis practical
                   br
                   a(href="Exercises/Day4/Charlotte-DE.R") Differential Expression analysis setup - R code
                   br
                   a(href="Exercises/Day5/CharlotteDE-commented.zip") Annotated version of Charlotte's DE tutorial (upload it to RStudio to visualise it)
                li 19:40 - 20:00 - Final revision session and Feedback
                br
                p <b>Bonus material - Network inference</b>
                li
                   a(href="https://youtu.be/LCeCxd-vfoc") Watch the Video (Network Inference lecture March 2020)
                li
                   a(href="Lecture/Day5/Networks.pdf") Gene Network Inference Lecture
                li
                   a(href="Exercises/Day5/Gene-network-practical.pdf") Gene Network Inference Practical
        .well Extras
            ul
                li
                    a(href="http://www-bcf.usc.edu/~gareth/ISL/") Book - An Introduction to Statistical Learning
                li
                    a(href="http://www.springer.com/gp/book/9783319072111") Book - Statistical Analysis of Next Generation Sequencing Data
                li
                    a(href="https://leanpub.com/dataanalysisforthelifesciences") Website - Data Analysis for the Life Sciences
                li
                    a(href="http://f1000research.com/channels/bioconductor?&selectedDomain=ARTICLES") Website - F1000 Research Bioconductor Channel
                li
                    a(href="Lecture/Misc/Nicolas-Delhomme_Course-Setup.pdf") Course setup using Docker container
                li <b>Most of the practicals below require data / software not available in the course setup - contact us if interested</b>
                li
                    a(href="Lecture/Day5/Nicolas-Delhomme_Gene-Set-Enrichment-Analysis.pdf") Day 5 extra - GSEA Lecture
                li
                    a(href="Exercises/Day5/EGSEAWorkflow.html") Day 5 extra - Ensemble GSEA tutorial 
                li
                    a(href="Lecture/Day5/Machine Learning.pdf") Day 5 extra - Machine Learning Lecture
                li
                    a(href="Exercises/Day5/cancer-vs-healthy.html") Day 5 extra - Cancer vs. Healthy Machine Learning Prediction
                li
                    a(href="Exercises/Day5/cancer-mc-vs-healthy.html") Day 5 extra - Cancer vs. Healthy Machine Learning Classification
                li
                    a(href="Lecture/Day5/Ximena-single-cell-presentation.pdf") Day 5 extra - Single Cell Sequencing lecture
                li
                    a(href="Exercises/Day5/basic-practical.html") Day 5 extra - Single cell RNA-Seq practical
                li
                    a(href="Exercises/Day5/droplet-practical.html") Day 5 extra - Droplet single cell RNA-Seq practical
        hr
        a.btn.btn-lg.btn-success(href='/', role='button') Home
        span &nbsp
        a.btn.btn-lg.btn-primary(href="/connect") Connect to instance
        hr
